#logoBox {
  width: 30vw;
  padding-top: 50px;
}
#WouldYouLikeToAddAnEvent {
font-size: 1.1em;

}
.notHeader {
  position: relative;
  z-index: 4;
  background-image: url('../images/all-events.png');
  background-attachment: local;
  background-size: cover;
  width: 100%;
  height: 100%;
  color: rgb(255, 251, 251);
  text-shadow: 1px 1px rgb(90, 90, 90);
  display: flex;
  text-align: center;
  align-content: center;
  align-items: center;
  filter: sepia(40%);
  filter: brightness(70%);
  filter: blur(40%);
  filter: contrast(90%);
  margin-bottom: 50px;
  filter: drop-shadow(5px 5px 15px #0000009a);
}
#createButton {
  color: rgb(255, 255, 255);
  background-color: rgba(10, 10, 10, 0.233);
}

